<% layout("/layouts/boilerplate") %>
<body>
    <div class="row row-cols-lg-5 row-cols-md-2  ">
        <% for( let listing of listings){%>
             <a href="/listings/show/<%=listing.id%>" class="card-link">
    <div class="card " >
        <img class="card-img-top" src="<%=listing.image%>" alt="Card image cap" style="height: 18rem;">
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text"> 
           <b><%=listing.title%></b> <br>
           &#8377; <%=listing.price.toLocaleString("en-IN");%> <br>
        </p>

        </div>
      </div>
    <%   }%>
    </a>
    </div>
   


</body> 

